body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

.app-logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
